.calendar-appointment {
    width: 315px;
    min-height: 210px;
    padding: 30px;
    background-color: #fff;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -187px;
}

.calendar-appointment-date {
    margin-bottom: 15px;
    font-size: 30px;
    color: #a2bb17;
    @include helveticaneuecyrthin();
}

.calendar-appointment-text {
    font-size: 16px;
    line-height: 24px;
    color: #8d99a6;
    @include helveticaneuecyrroman();
}

.calendar-appointment-link {
    margin-top: 15px;
}