.index-text-box {
    margin-top: 70px;
}

.text-box-item {
    padding-top: 25px;
}

.text-box-item-title {
}

.text-box-item {
    padding-bottom: 45px;
    background: url("#{$path}text-border.png") left bottom repeat-x;

    .simple-text {

        h3 {
            margin-bottom: 25px;
            color: #00a3df;
            font-size: 30px;
            @include helveticaneuecyrthin();
        }

        p {
            float: left;
            width: 470px;
            color: #8d99a6;
            font-size: 16px;
        }
        img {
            float: left;
            margin-left: 15px;
            @include border-radius(70px);
        }
    }
}