
#ajax-loader {
    background: url('/s/public/images/loader.gif') 50% 50% no-repeat;
    min-height: 200px;
}
.ui-datepicker-prev, .ui-datepicker-next {
    display: none;
}
.calendar-box-date {
    height: 240px;
}
.calendar-box {
    height: 335px;
}

.popup-client-box textarea {
    font: inherit;
    color: white;
}

.popup-error-message {
    color: white;
    display: block;
    width: 300px;
    margin: 0 auto;
    line-height: 200px;
    text-align: center;
}
.calendar-appointment {
    height : 300px;
}
.clinic-services button.off {
    border: 1px solid #ffffff;
    cursor: default;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
}