input {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}
input[type="submit"]::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input[type="password"],
input[type="text"] {
    width: 100%;
    font-size: 30px;
    background-color: transparent;
    color: #fff;
    @include helveticaneuecyrthin();
}
