<script type="ejs/template" id="calendar-widget-date-ejs">
    <div class="calendar-box-date-item off-date">
        <span class="calendar-box-date-item-value"><%=item.day%></span>
    </div>
</script>