.simple-text {
	line-height: 20px;
	margin-bottom: 15px;
	color:#434343;

	p {
		margin-bottom: 20px;
	}
}

.comments-item-text {
    .simple-text {
        margin-bottom: 0;
            p {
                margin-bottom: 0;
            }
        }
}