@mixin arial() {
    font-family: Arial, sans-serif;
}

@mixin helveticaneuecyrthin {
    font-family: 'helveticaneuecyrthin', Arial, sans-serif;
}

@mixin helveticaneuecyrroman {
    font-family: 'helveticaneuecyrroman', Arial, sans-serif;
}

@mixin helveticaneuecyrlight {
    font-family: 'helveticaneuecyrlight', Arial, sans-serif;
}